
// FONTS

$opensans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// COLOURS

$gold: #FFCC00;
$greyHeading: #898F8F;
$greyInfo-sideTitle: #666666;
$greyInfo-sideText: #333333;
$greySocial: #CCCCCC;
